<nav class="navbar navbar-dark bg-dark p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Remember It</a>
  <ul class="navbar-nav ml-auto flex-row">
    <% if (!user) { %>
      <li class="nav-item text-nowrap m-2">
        <a class="nav-link" href='/login'>Prisijungti</a>
      </li>
      <li class="nav-item text-nowrap m-2">
        <a class="nav-link" href='/register'>Registruotis</a>
      </li>
    <% } else { %>
      <li class="nav-item text-nowrap m-2">
        <a class="nav-link" href="/logout">Atisijungti</a>
      </li>
    <% } %>
  </ul>
</nav>