
<nav class="col-md-1 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <span data-feather="home"></span>
          Pradžia
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#projectCollapse" role="button" aria-expanded="false" aria-controls="projectCollapse">
          <span data-feather="briefcase"></span>
          Projektai
        </a>
        <div class="collapse" id="projectCollapse">
          <div id="active-projects">
            <a class="nav-link collapse-item fw-bolder pointer">
              Svarbus projektas
            </a>
          </div>
          <hr class="dropdown-divider">
          <a class="nav-link collapse-item d-flex pointer" data-bs-toggle="modal" data-bs-target="#addProjectModal">
            <span data-feather="plus"></span>
            <span>Pridėti projektą</span>
          </a>
        </div>
      </li>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    </ul>
  </div>
</nav>

<div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="addProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProjectModalLabel">Projekto kūrimas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="add-project-form">
          <input type="hidden" id="add-project-id-hidden">
          <div class="mb-3">
            <label for="add-project-title" class="col-form-label">Pavadinimas:</label>
            <input type="text" class="form-control" id="add-project-title">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atšaukti</button>
          <button type="submit" class="btn btn-primary" id="add-project-submit" data-bs-dismiss="modal">Sukurti projektą</button>
        </div>
      </form>
    </div>
  </div>
</div>

<template id="project-list-item">
  <a class="nav-link collapse-item fw-bolder pointer"></a>
</template>