<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <title>Register</title>
</head>
<body>
    <%- include('partials/navbar'); %>
    <main class="d-flex align-items-center h-100">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <% if (messages.error) { %>
                        <small id="login-error"><%= messages.error %> </small>
                    <% } %>
                    <h1 class="display-4 py-2 text-truncate">Užsiregistruoti</h1>
                    <div class="px-2">
                        <form action="/register" method="POST" class="justify-content-center">
                            <div class="form-group">
                                <label for="email">El. paštas</label>
                                <input type="email" name="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="username">Vartotojo vardas</label>
                                <input type="text" name="username" class="form-control" id="username">
                            </div>
                            <div class="form-group">
                                <label for="password">Slaptažodis</label>
                                <input type="password" name="password" class="form-control" id="password">
                            </div>
                            <small class="d-block mb-2">Jau turite paskyrą? <a href="/login">Prisijunkite!</a></small>
                            <button type="submit" class="btn btn-primary btn-lg">Registruotis</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <form action="/register" method="post">
    </form>
    <%- include('partials/scripts'); %>
</body>
</html>